{% extends "pillowfort/base.html" %}

{% block content %}
  <h2>Enter New Password</h2>
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      <div>
        {{ form.new_password1.label_tag }}
        {% if form.new_password1.errors %}
          <div style="color: red;">
            {{ form.new_password1.errors }}
          </div>
        {% endif %}
        {{ form.new_password1 }}
      </div>
      <div>
        {{ form.new_password2.label_tag }}
        {% if form.new_password2.errors %}
          <div style="color: red;">
            {{ form.new_password2.errors }}
          </div>
        {% endif %}
        {{ form.new_password2 }}
      </div>
      <br/>
      <button type="submit">Set Password</button>
    </form>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset</p>
  {% endif %}
{% endblock %}
